<div class="row">
  <div class="col">
    <h1 class="common-heading">
      Insert a course
    </h1>

  </div>
</div>

<form action="/insert_course" method="post">
  <div class="mb-3">
    <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"><label for="name_box"> Course name </label></h5>
    <input type="text" id="name_box" name="query_name" class="form-control placeholder="Add in a course name...">
  </div>

  <div class="mb-3">
    <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"><label for="student_id_box"> Student ID </label></h5>
    <input type="text" id="student_id_box" name="query_student_id" class="form-control" value=<%= current_user.id%>>
  </div>

  <div class="mb-3">
    <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"><label for="time_box"> Date </label></h5>
    <input type="date" id="time_box" name="query_time" class="form-control">
  </div>

  <div class="mb-3">
    <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"><label for="link_box"> Link page </label></h5>
    <input type="text" id="link_box" name="query_link" class="form-control" placeholder="Add in a course link...">
  </div>

  <div class="mb-3">
    <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"> <label for="location_box">Location</label></h5>
    <input type="text" id="location_box" name="query_location" class="form-control" placeholder="Add in a location...">
  </div>

  <div class="mb-3">
    <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"><label for="oh_link_box">Office hour link</label></h5>
    <input type="text" id="oh_link_box" name="query_oh_link" class="form-control"></input>
</div>

<div class="mb-3">
  <h5 class="card-header" style="font-family: Marker Felt, fantasy;color: maroon"><label for="prof_email_box">Professor email</label></h5>
  <input type="text" id="prof_email_box" name="query_prof_email" class="form-control"></input>
</div>
<button>
  Create course
</button>
</form>

<style>
  .fancy-button {
      white-space: normal;
      font-family: Comic Sans MS, Comic Sans, cursive;
      background-color:#ffd803;
      color: black;
      padding-bottom: 5px;
      padding-top: 1px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      border-top: 0.5rem solid maroon;
      box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
      }

      .fancy-button:hover {
        background-color: #faae2b;

      }

  .common-heading {
    font-family: Marker Felt, fantasy;
    color: black;
    font-size: 40px;
    text-align: left;
    line-height: 100px;
    }

  .common-text {
    font-family: Marker Felt, fantasy;
    color: black;
    font-size: 20px;
    text-align: left;
    }

  .common-box {
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    background-color: #ffd803;
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 300px
    }


  .grey-text{
    color: grey;
    font-size: 0.8rem;
    font-style: italic;
  }
</style>
